h1 {
    text-align: justify;
    font-size: 24px;
    padding: 0 5% 50px 5%;

  /*  margin: 0 1fr 0 1fr; */ 
}

body{
    background-color: #f0f2f5;
}

footer {
    text-align: justify;
    position: absolute;
    bottom: 0px;
    background-color: #ffffffff;
    font-size: 12px;
    padding: 0 5% 0 5%;
}

footer a {
    text-decoration: none;
    color: #8a8d91;
    margin: 0px 10px;

}

.headerImage{
    display: block;
    height: 106px;
    margin: 0 auto;
}

.main {

    display:grid;
    justify-content: center;
    min-width: 40%;
    max-width: 60%;
    padding: 0 25% 0 25%;

}

.form{
    border: 3px solid black;

}

.loginForm{
    display:flex;
    flex-direction:column;

}

.bottomForm {
    display: flex;
    flex-direction: column;
}

.langSelect{
    display:flex;
    flex-direction: row;
    padding: 30px 0 30px 0;
}

#createPage {
    padding-top: 20px;
    text-align: center;
}

